Repository Vladimirbr/express-jwt-passport-local-mongoose-winston: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:write, prettier --write

added validation changes tests and configs
  package.json
  src/app.ts
  src/configs/awilix.ts
  src/controllers/auth.ts
  src/db/connect.ts
  src/middleware/authMiddleware.ts
  src/passport/passport.ts
  src/pre-start/index.ts
  src/routes/auth.ts
  src/validators/auth.ts
  test/app-test.spec.ts
Due: npm run lint:write, prettier --write

typedoc
  CHANGELOG.md
  package.json
  src/app.ts
  src/interfaces/log.ts
  src/shared/functions/getDurationInMilliseconds.ts
  src/shared/logger/logger.ts
Due: npm run lint:write, prettier --write

auth query and promise
  .eslintrc
  src/configs/awilix.ts
  src/controllers/auth.ts
  src/db/queries.ts
  src/passport/passport.ts
  src/routes/auth.ts
  src/server.ts
  src/validators/auth.ts
  tsconfig.json
Due: npm run lint:write, prettier --write

update node modules dependencies
  package-lock.json
  package.json
Due: prettier --write

registred req to route
  src/controllers/auth.ts
  src/routes/auth.ts
Due: npm run lint:write

some todos
  src/routes/auth.ts
Due: npm run lint:write

Path conditions:
  npm run lint:write: any of: *.ts
  prettier --write: any of: *.{json,md}
